@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Galada&family=Hurricane&display=swap');
.app {
    font-family: sans-serif;
    position: relative;
}

/* ************************************** Nave bar ************************************** */

.nav {
    height: 90px;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px #ddd;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    cursor: pointer;
}

.logo>svg {
    animation: logo 9s linear infinite;
}

.logo>h5 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
    color: var(--primary-main);
    text-transform: uppercase;
}

.nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav>ul>li {
    padding: 20px 30px;
    cursor: pointer;
}

.nav>ul>li>a {
    color: var(--word-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    transition: .3s;
}

.nav>ul>li:hover>a {
    color: var(--primary-light);
}

.menu-icon {
    display: none;
}

.checkbox2 {
    display: none;
}

.toggle2 {
    position: relative;
    width: 45px;
    height: 35px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transition-duration: .5s;
}

.bars {
    width: 100%;
    height: 4px;
    background-color: var(--primary-main);
    border-radius: 6px;
}

.bar5 {
    transition-duration: .8s;
}

.bar4,
.bar6 {
    width: 80%;
}

.checkbox2:checked+.toggle2 .bars {
    position: absolute;
    transition-duration: .5s;
}

.checkbox2:checked+.toggle2 .bar5 {
    transform: scaleX(0);
    transition-duration: .5s;
}

.checkbox2:checked+.toggle2 .bar4 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}

.checkbox2:checked+.toggle2 .bar6 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

.checkbox2:checked+.toggle2 {
    transition-duration: .5s;
    transform: rotate(180deg);
}

.menu {
    display: none;
}

@media (max-width: 768px) {
    .nav {
        position: relative;
    }

    .menu-icon {
        display: block;
    }

    .nav>ul {
        display: none;
    }

    .logo {
        flex-direction: column;
        border: 2px solid var(--primary-main);
        border-radius: 50%;
        width: 70px;
        height: 70px;
        gap: 0;
        justify-content: space-evenly;
    }

    .logo>svg {
        width: 30px;
        height: 30px;
    }

    .logo>h5 {
        font-size: 8px;
        text-align: center;
        width: 40px;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .menu>li {
        padding: 20px 30px;
        cursor: pointer;
        width: 100%;
        border-bottom: 1px solid #eee;
        display: flex;
        justify-content: flex-end;
    }

    .menu>li>a {
        color: var(--word-color);
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
        transition: .3s;
    }

    .menu>li:hover>a {
        color: var(--primary-light);
    }

}

/* ************************************** Home ************************************** */

.home {
    color: #fff;
    background-image: url(../assets/images/gradient.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    width: 92%;
    text-align: center;
}

.home-content>h1 {
    margin: 0;
    padding: 0;
    font-size: 50px;
    letter-spacing: 3px;
    text-align: center;
    color: var(--title-color);
    font-weight: 500;
    margin-bottom: 30px;
}

.home-italic {
    font-family: "Hurricane", cursive;
    font-weight: 400;
    font-size: 70px;
    font-style: normal;
    text-transform: none;
}

.home-content>p {
    font-size: 18px;
    text-align: center;
    width: 100%;
    line-height: 1.6;
    color: var(--paragraph-color);
    margin: 0;
    max-width: 700px;
    margin: 0 auto 30px;
}

.scroll-icon {
    position: absolute;
    bottom: 20px;
}

.scroll-down {
    --color: black;
    position: relative;
    margin-bottom: 16px;
}

.chevrons {
    padding: 6px 0 0 0;
    margin-left: -3px;
    margin-top: 48px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chevron-down {
    margin-top: -6px;
    position: relative;
    border: solid var(--color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
}

.chevron-down:nth-child(odd) {
    animation: pulse54012 500ms ease infinite alternate;
}

.chevron-down:nth-child(even) {
    animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}

@media (max-width: 768px) {
    .home-content>h1 {
        font-size: 35px;
    }

    .home-content>p {
        font-size: 16px;
    }

    .contact-nav {
        bottom: 20px;
    }
}

.contact-nav {
    position: absolute;
    left: 0;
    width: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    border-radius: 5px;
}

.contact-nav>a {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.github:hover>svg,
.linkedin:hover>svg,
.react-query:hover>svg,
.recoil:hover>svg {
    fill: white;
    transition: .2s;
}

.github:hover {
    background-color: var(--github-color);
    transition: .3s;
}

.linkedin:hover {
    background-color: var(--linked-in-color);
    transition: .3s;
}

.git:hover {
    background-color: var(--git-color);
    transition: .3s;
}


/* ************************************** About ************************************** */

.about {
    min-height: 100vh;
    background-color: var(--back-ground-color);
    padding-top: 100px;
}

.container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

.title {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: var(--title-color);
    position: relative;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 50px;
}

.title::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--primary-main);
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.about>.container>p {
    font-size: 18px;
    text-align: center;
    width: 100%;
    line-height: 1.6;
    color: var(--paragraph-color);
    margin: 0;
    max-width: 700px;
    margin: 0 auto 90px;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
}

.about-content>div {
    width: 100%;
}

.about-info>p {
    font-size: 16px;
    color: var(--paragraph-color);
    line-height: 1.7;
    margin: 0;
    padding: 0;
}

.about-info>p>span {
    font-weight: bold;
}

.about-info>p>a {
    color: var(--primary-main);
    font-weight: bold;
}

.about-image {
    background-image: url(../assets/images/IMG-5196.jpg);
    background-position: center;
    background-size: cover;
    min-height: 70vh;
    border-radius: 10px;
}

.skills {
    display: flex;
    column-gap: 10px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.skill img {
    border-radius: 3px;
}

.skill>.skill-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}


@media (max-width: 1100px) {
    .about-content {
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }

    .skills {
        margin-bottom: 40px;
    }

    .about-image {
        max-height: 300px
    }
}

@media (max-width: 1400px) {
    .about {
        padding-bottom: 50px
    }
}

/* ************************************** Projects ************************************** */

.projects {
    min-height: 100vh;
    background-color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px
}


.projects>.container>p, .education>.container>p {
    font-size: 18px;
    text-align: center;
    width: 100%;
    line-height: 1.6;
    color: var(--paragraph-color);
    margin: 0;
    max-width: 700px;
    margin: 0 auto 90px;
}

.projects-list, .education-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.project, .education-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.education-item {
    grid-gap: 75px;
    place-items: center;
}

.project-image>img, .education-image>img {
    width: 700px;
    height: 500px;
}

.project-info{
    margin-top: 100px;
    margin-right: 50px
}

.project-info>h3, .education-info>h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    font-size: 25px;
    color: var(--title-color);
    font-weight: 700;
}

.project-info>p, .education-info>p {
    font-size: 16px;
    color: var(--paragraph-color);
    line-height: 1.7;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.project-image, .education-image {
    display: grid;
    place-items: center;
    height: 350px;
    width: 350px;
    margin: auto;
}

.project-image > img, .education-image > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.project-info{
    margin-top: 50px;
}

.project-info>h3, .education-info>h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    font-size: 20px;
    color: var(--title-color);
    font-weight: 700;
}

.project-info>p, .education-info>p {
    font-size: 16px;
    color: var(--paragraph-color);
    line-height: 1.7;
    margin: 0;
    padding: 0;
}

.project-tasks {
    margin-top:10px;
    margin-left: 15px;
    list-style-type: circle;
}

.project-tasks li {
    padding-top: 7px
}

.project-badges, .education-badges {
    margin-top: 20px;
}

.project-badges img, .education-badges img {
    margin-right: 10px;
    border-radius: 3px;
}

/* ************************************** Education ************************************** */

.education {
    min-height: 100vh;
    background-color: #fafafa;
    padding-top: 100px;
    padding-bottom: 100px
}

@media (max-width: 1100px) {
    .project, .education {
        grid-template-columns: 1fr;
    }

    .project-image>img, .education-image>img {
        max-width: 300px;
        height: 100px;
    }

    .project-info {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: -80px;
        margin-bottom: 25px;
    }

    .project-info>p, .education-info>p {
        text-align: center;
        max-width: 350px;
    }
}

@media (max-width: 800px){
    .education-item {
        grid-template-columns: 1fr; 
        text-align: center;
    }
    .education-image {
        height: 200px
    }
    .education-image :nth-of-type(1) {
        margin-top:50px
    }
}

/* ************************************** Contact ************************************** */

.contact {
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    z-index: 1;
    padding-top: 100px;
    padding-bottom: 100px
}

.contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/gradient.jpg);
    background-size: cover;
    background-position: center;
    transform: scaleX(-1);
    z-index: -1;
}

.contact>.container>p {
    font-size: 18px;
    text-align: center;
    width: 100%;
    line-height: 1.6;
    color: var(--paragraph-color);
    margin: 0;
    max-width: 700px;
    margin: 0 auto 90px;
}

.contact>.container>form {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px #ddd;
    max-width: 780px;
    width: 95%;
    text-align: right;
    margin: auto;
    padding: 40px;
    position: relative;
}

.contact>.container>form> :nth-child(1),
.contact>.container>form> :nth-child(2) {
    margin-bottom: 40px;
}

.contact>.container>form> :nth-child(3) {
    margin-bottom: 25px;
}

.contact>.container>form> :nth-child(4) {
    text-align: right;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.inactive-form::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    border-radius: 5px;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

@media (max-width: 1100px) {
    .contact>.container>form> :nth-child(3) {
        height: 200px !important;
    }
}
@media (max-width: 750px){
    .contact>.container>form {
        padding: 25px 10px;
    }
    .contact>.container>form> :nth-child(4) {
        justify-content: end;
    }
}

/* ************************************** Projects ************************************** */

.footer {
    background-color: black;
    color: white;
    padding: 0 100px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 0;
}

.footer-info div:nth-child(1)>h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-info div:nth-child(1)>p {
    margin: 0;
    padding: 0;
    color: #eee;
    line-height: 1.7;
    width: 60%;
    font-size: 15px;
}

.social>h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 20px;
}

.social>div {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.social>div>a {
    padding: 5px 8px;
    border-radius: 5px;
}

.copy-right {
    padding: 30px 0;
    border-top: 1px solid #444;
    color: #eee;
    font-size: 12px;
    text-align: left;
    text-align: center;
}

.copy-right>span {
    font-size: 13px;
    font-weight: bold;
}

@media (max-width: 1100px) {
    .footer {
        padding: 0 40px;
    }

    .footer-info div:nth-child(1)>p {
        width: 100%;
        margin-bottom: 50px;
    }
}